[submodule "TrylogicCore"]
	path = TrylogicCore
	url = https://github.com/Trylogic/TrylogicCore.git
[submodule "Insulin"]
	path = Insulin
	url = https://github.com/Trylogic/Insulin.git
[submodule "GlobalDispatcher"]
	path = GlobalDispatcher
	url = https://github.com/Trylogic/GlobalDispatcher.git
[submodule "Bootloader"]
	path = Bootloader
	url = https://github.com/Trylogic/Bootloader.git
[submodule "FlexFrameworkPatch"]
	path = FlexFrameworkPatch
	url = https://github.com/Trylogic/FlexFrameworkPatch.git
[submodule "TrylogicUtils"]
	path = TrylogicUtils
	url = https://github.com/Trylogic/TrylogicUtils.git
